body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Super.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-images {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Hypercar.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }
  
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .header {
    padding: 35px;
    text-align: center;
    height: 35%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("home-banner-4.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 30px;
  }

  .grid-container {
    display: grid;
    column-gap: 50px;
  }
